@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgba(110,110,255,1) 0%, rgba(0,212,255,1) 100%);
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h3{
  color: white;
  margin: 10px 0 20px;
  font-weight: 300;
  text-align: center;
}

h3 strong{
  font-weight: 700;
}

.container  {
  width: 95vw;
}

textarea {
  border: none;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin: 0 0 20px;
}

.tag  {
  background-color: #b2f2ff;
  color: #01189b;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight  {
  background-color: #01189b;
  color: #b2f2ff;
}

@media screen and (min-width: 769px) {
  .container{
    width: 500px;
  }
}
